* {
    margin: 0;
    padding: 0;
    font-family: 'pretendard';
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

.container {
    width: 100%;
    height: auto;
    background-color: #fff;
    position: relative;
}

.top-section {
    width: 100%;
    height: 110px;
    /* 스크롤 올렸을때 헤더 내려오게 고정 */
    position: fixed;
    z-index: 1000;

    header {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        height: 100%;
        margin: 0 auto;
        transition: all 0.3s ease-in-out;
    }

    nav>ul {
        display: flex;
        gap: 20px;
        height: 100%;
    }

    nav>ul>li {
        line-height: 110px;
        text-align: center;
    }

    nav>ul>li>a {
        height: 100%;
        color: white;
        font-size: 14px;
        font-weight: 700;
        white-space: nowrap;
        position: relative;
    }

    nav>ul>li:hover .sub-menu {
        position: fixed;
        display: flex;
        align-items: center;
        height: 60px;
    }

    nav>ul>li>a::after {
        content: "";
        position: absolute;
        width: 0;
        /*호버전에는 밑줄*/
        height: 2px;
        left: 0;
        bottom: -3px;
        /*글자아래 위치*/
        transition: width 0.3s ease;
        background: white;
    }

    nav>ul>li>a:hover::after {
        width: 100%;
        /* 호버 시 밑줄 전체 길이 */
    }

    .sub-menu {
        display: none;
    }

    .sub-menu::after {
        content: "";
        background-color: #ffffffcc;
        width: 100%;
        position: fixed;
        top: 110px;
        left: 0;
        height: 60px;
        z-index: 1;
    }

    .sub-menu>li>a {
        position: relative;
        z-index: 200;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        color: #888281;
        background-color: #fff;
        font-size: 14px;
        font-weight: 600;
        height: 37px;
        border-radius: 100px;
    }

    .sub-menu>li>a:hover {
        background-color: #BF0B34;
        color: white;
    }

    .sub-menu>li:not(:first-child) {
        margin-left: 10px;
    }


    .logo {
        width: 33%;
        margin: auto;
        text-align: center;

        img {
            width: 200px;
        }
    }

    .util {
        width: 33%;
        display: flex;
        gap: 8px;
        justify-content: end;
        align-items: center;
    }

    .switch-wrap {
        width: 124px;

        [alt="brand"] {
            display: none;
        }
    }


    .top-btn {
        display: flex;
        gap: 10px;
    }

    .menu-btn {
        display: none;
        cursor: pointer;
    }
}

.top-image {
    .main-image {
        width: 100%;

    }

    .arrow-bar {
        position: relative;

        .div-box {
            width: 100%;
            height: 50px;
            background-color: #fff;
        }

        a img {
            position: absolute;
            z-index: 100;
            top: -60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.title-wrap {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;

    .sub-inner {
        width: 88%;
        display: flex;
        justify-content: end;
        align-items: center;

        .logo {
            width: 40px;
        }
    }

    .ul-title {
        font-size: 30px;
        color: #BF0B34;
        text-align: center;
        margin: 30px 0;
    }
}

.ul-btn {
    display: flex;
    justify-content: center;
    gap: 20px;

    .drink,
    .food,
    .md-pd {
        display: flex;
        position: relative;
    }

    .drink>span,
    .food>span,
    .md-pd>span {
        display: inline-block;
        width: 56px;
        aspect-ratio: 1;
        background: #F7EEDD;
        transition: .45s;
        position: absolute;
        left: 0;
    }

    .drink>span:nth-child(1),
    .food>span:nth-child(1),
    .md-pd>span:nth-child(1) {
        border-radius: 50% 0 0 50%;
    }

    .drink>span:nth-child(2),
    .food>span:nth-child(2),
    .md-pd>span:nth-child(2) {
        left: 46px;
    }

    .drink>span:nth-child(3),
    .food>span:nth-child(3),
    .md-pd>span:nth-child(3) {
        left: 94px;
    }

    .drink>span:nth-child(4),
    .food>span:nth-child(4),
    .md-pd>span:nth-child(4) {
        border-radius: 0 50% 50% 0;
        left: 142px;
    }

    .drink:hover>span,
    .food:hover>span,
    .md-pd:hover>span {
        border-radius: 50%;
        background-color: #C10230;
    }

    .drink:hover>a,
    .food:hover>a,
    .md-pd:hover>a {
        color: #fff;
        font-weight: 700;
    }

    .drink>a,
    .food>a,
    .md-pd>a {
        left: 0;
        position: absolute;
        display: flex;
        width: 198px;
        height: 56px;
        align-items: center;
        justify-content: center;
        font-size: 1.25rem;
        color: #382F2D;
        transition: .45s;
        position: relative;
        z-index: 2;
    }
}

.menu-page {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 120px 0;
}

.menu-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 60px;
    border-radius: 30px;
    border: 1px solid #BF0B34;
    overflow: hidden;
    cursor: grab;
}

.menu-bar {
    display: flex;
    transition: transform 0.4s ease;
    gap: 10px;
    /* 메뉴 간격 */

    .name-tab {
        display: flex;
        color: #D9D9D9;
        font-size: 20px;
        font-weight: 700;
        padding: 10px 30px;

        flex: 0 0 auto;
        /* 한 줄 고정 */
        cursor: pointer;
        white-space: nowrap;
        user-select: none;
        /* 드래그 시 텍스트 선택 방지 */
    }
}

.name-tab.active {
    background-color: #BF0B34;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
}


.menu-list {
    width: 80%;
    margin: 50px 0;

    .list-page {
        display: none;

        .scroll-item {
            width: 20%;
            height: 327px;
            color: #382F2D;
            text-align: center;
            margin: 20px;
            box-sizing: border-box;

            h5 {
                font-size: 20px;
                font-weight: normal;
            }

            img {
                width: 240px;
            }
        }
    }

    .list-page.show {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.pd-info {
    width: 70%;

    .info-wrap {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 100px 0;
    }
}


.info-img {
    width: 374px;
    background-color: #382F2D;
}

.info-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 {
        font-size: 30px;
        font-weight: 700;
    }

    p {
        font-size: 24px;
        font-weight: 700;
        color: #746d6c;
        margin-top: 10px;
    }

    .pd-table {
        width: 100%;
        display: flex;
        justify-content: start;
    }

    table {
        width: 100%;
        text-align: center;

        caption {
            font-size: 30px;
            font-weight: 700;
        }

        th {
            height: 50px;
            background-color: #F7EEDD;
            color: #746d6c;
        }

        td{
            font-size: 18px;
        }

        tfoot{
            border: none;
            text-align: start;
        }

    }
}



footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
    width: 100%;
    height: 850px;
    background-color: #BF0B34;
    border-radius: 50px 50px 0 0;
    color: white;
}

.footer-logo {
    margin: auto;

    img {
        width: 640px;
    }
}

.footer-wrap {
    height: 34%;
    display: flex;
    justify-content: space-between;
    padding: 0 140px;

    .left-wrap {
        h3 {
            font-size: 22px;
        }

        h4 {
            font-size: 22px;
            font-weight: 500;
            margin-top: 15px;
        }

        .footer-text2 {
            margin-top: 40px;
            font-size: 14px;

            dl {
                display: flex;
                gap: 10px;

                dt {
                    font-weight: 700;
                }
            }
        }

        .footer-btn {
            width: 410px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;

            button {
                font-size: 22px;
                font-weight: 700;
                color: #BF0B34;
                border: none;
                padding: 12px 20px;
                border-radius: 30px;
            }
        }
    }

    .right-wrap {
        .call {
            display: flex;
            flex-direction: column;
            gap: 25px;

            dl {
                display: flex;
                flex-direction: column;

                dt {
                    font-size: 18px;
                }

                dd {
                    margin-top: 12px;
                    font-size: 36px;
                    font-weight: 700;
                }
            }
        }

        .time {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            gap: 10px;
            margin-top: 40px;
        }

        dl {
            display: flex;
        }

    }
}

.footer-sns {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0 140px 40px 140px;
    height: 20%;

    p {
        margin-top: 40px;
    }
}

@media screen and (max-width: 1450px) {

    .bar-wrap {
        width: 80%;
    }

    .menu-bar {
        display: flex;
        transition: transform 0.4s ease;
        will-change: transform;
    }

    .menu-list {
        .list-page.show {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media screen and (max-width: 1180px) {

    nav,
    .top-section .util {
        display: none;
    }

    .logo {
        margin: auto;
        text-align: center;

        img {
            width: 120px;
        }
    }

    .menu-btn {
        display: flex;
    }

    .menu-wrap {
        width: 100%;
    }

    .bar-wrap {
        width: 80%;
    }

    .menu-bar {
        display: flex;
        transition: transform 0.4s ease;
        will-change: transform;
    }

    .menu-list {
        width: 80%;
        margin: 50px 0;

        .list-page {
            .scroll-item {
                margin: 50px;
            }
        }
    }
}

@media screen and (max-width: 770px) {

    .bar-wrap {
        width: 80%;
    }

    .menu-bar {
        display: flex;
        transition: transform 0.4s ease;
        will-change: transform;
    }

    .menu-list {
        width: 100%;
        margin: 50px 0;

        .list-page {
            .scroll-item {
                margin: 80px;
            }
        }

        .list-page.show {
            display: flex;
            flex-wrap: wrap;
        }

    }

    .footer-logo {
        height: 20%;
        margin: 0 auto;
        line-height: 200px;

        img {
            width: 185px;
        }
    }

    .footer-wrap {
        flex-direction: column;
        width: 100%;

        .left-wrap {
            order: 2;

            h3 {
                font-size: 18px;
            }

            h4 {
                font-size: 18px;
            }

            .footer-text2 {
                margin-top: 20px;
                font-size: 14px;
            }

            .footer-btn {
                width: 300px;
                margin: 30px 0;

                button {
                    font-size: 14px;
                }
            }
        }

        .right-wrap {
            order: 1;

            .call {
                display: flex;
                flex-direction: column;
                gap: 25px;

                dl {
                    display: flex;
                    flex-direction: column;

                    dt {
                        font-size: 14px;
                    }

                    dd {
                        margin-top: 12px;
                        font-size: 18px;
                        font-weight: 700;
                    }
                }
            }

            .time {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                gap: 10px;
                margin-top: 40px;
            }

            dl {
                display: flex;
            }

        }
    }

    .footer-sns {
        margin-top: 200px;
        padding: 50px;

        p {
            margin-top: 20px;
        }
    }
}